<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">ASMRcity</a>
      <ul class="right hide-on-med-and-down">
          <li>
            <form>
              <input type="text">
            </form>
          </li>
          <li><a href="/">Home</a></li>
          {% if user.is_authenticated %}
            <li><a>{{user.username}}</a></li>
            <li><a href="/myVideos">My Videos</a></li>
            <li><a href="/logout">Logout</a></li>
          {% else %}
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
          {% endif %}
      </ul>
    </div>
  </nav>