{% extends "main/header.html" %}

{% block body %}
    {% for video in videos %}
        <h1><strong>{{video.title}}</strong></h1>
        <p>{{video.description}}</p>
        <hr>
        {{video.embed|safe}}
        <!--the action is the uri that points to the view that handles the request.-->
        <form action="/myVideos/" method="POST">
            
            {% csrf_token %}
            <button type="submit" data-="{{video.id}}">Remove From List</button>
            
        </form>
    {% endfor %}
{% endblock %}